/*  VARIABLES
Engloba todas las variables para ocuparse de manera global
*/

:root {
    --color-fondo: #ffebcd;
    --color-superficie: #ffffff;
    --color-primario: #22c7a9;
    --color-texto: #000000;
}

/*  BASE 
se constituye de todos los elemntos del html y estos son organizados de manera lineal */
body {
    display: flex;
    flex-direction: column;
    background: var(--color-fondo);    
}

/* Esto es una clase llamada .btn-agregar que conecta con la etiqueta button en html*/
.btn-agregar {
    background-color: var(--color-primario);
    border: none;
    padding: 3px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
/* Hover es una clase que hace que al momento de que el ususario pase por encima el cursos se sombree */
.btn-agregar:hover {
    background-color: #1aa381;
}
