
    /*  VARIABLES  */
:root {
    --color-fondo: #FFEBCD;
--color-superficie: white;
--color-primario: #22c7a9;
--color-texto: #222;
}
      /* RESET */


/*  BASE  */
body {
    display: flex;
    justify-content: left;
    background: var(--color-fondo);
    align-items: center;
    height: 25vh;

}

/* COMPONENTES */
.btn-agregar{
    background-color: var(--color-primario);
    border: none;
    padding: 3px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.btn-agregar:hover {
    background-color: #1aa381;
}
.container {
  margin-top: 230px;
}